<div class="content">
    <!-- Cover -->
    <div class="cover d-flex flex-column align-items-center justify-content-center">
        <div>
            <h1 class="display-4 mb-0">Siente la libertad</h1>
        </div>

        <div class="sub">
            Tu ropa lavada y planchada a domicilio
        </div>

        <div>
            <button class="btn order mt-5">PIDE AHORA</button>
        </div>
    </div>

    <!-- Arriba de los pasos -->
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col col-auto">
                <h4>ASÍ DE FÁCIL</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-1 line mb-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                Sólo tres pasos para ser libre
            </div>
        </div>

        <!-- Los pasos -->
        <div class="row steps align-items-end-5 mt-5">
            <div class="col">
                <div class="row">
                    <div class="col no-gutters"><img class="img-fluid-edited" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/74e51867-movilweb-01_02s05202s052000000.png"></div>
                </div>
                <div class="row">
                    <div class="col titles">INSTALA LA APP</div>
                </div>
                <div class="row">
                    <div class="col">Tu móvil es la lavadora. Descarga la aplicación y deja de pensar en el detergente</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col no-gutters"><img class="img-fluid-edited smaller" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/7ddf05e4-furgoweb-01_07w03i07w03i000000.png"></div>
                </div>
                <div class="row">
                    <div class="col titles">HAZ EL PEDIDO</div>
                </div>
                <div class="row">
                    <div class="col">Selecciona los servicios que quieres de lavandería o tintorería y el momento de recogida</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col no-gutters"><img class="img-fluid-edited" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/a3f6e276-sombrilla-01_05w04i05w04i000000.png"></div>
                </div>
                <div class="row">
                    <div class="col titles">RELAX, TAKE IT EASY</div>
                </div>
                <div class="row">
                    <div class="col">En poco tiempo tu ropa estará perfecta en la puerta de tu casa. ¡Disfruta del tiempo que has ahorrado!</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lo de fondo azul -->

    <div class="container-fluid prices p-5" style="text-align: center">
        <div class="row justify-content-center titles-prices">
            <div class="col col-auto">
                <h4>NUESTRA SUSCRIPCIÓN</h4>
            </div>
        </div>
        <div class="row justify-content-center titles-prices">
            <div class="col col-1 line-2 mb-4">
            </div>
        </div>
        <div class="row justify-content-center titles-prices">
            <div class="col-auto">
                <p>
                    Creada para que te olvides de lavar. <br> Precios especiales para gente libre
                </p>
            </div>
        </div>
        <!-- Los precios -->
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="p-5 plan-1">
                <div class="d-flex flex-column">
                    <div class="no-gutters"><img class="img-fluid-edited" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/984ebd59-plancha3-01_062048062048000000.png" alt=""></div>
                    <div class="titles">PLANCHA</div>
                    <div>Desde</div>
                    <div>
                        <h4>1,49€ <small>/ prenda</small></h4>
                    </div>
                    <div class="bottom-line pb-2">Lavado y planchado</div>
                    <div class="bottom-line pb-2">Entrega en percha</div>
                    <div class="bottom-line pb-2">Servicio a domicilio gratuito</div>
                </div>
            </div>
            <div class="p-5 plan-2 ml-4">
                <div class="d-flex flex-column">
                    <div class="no-gutters"><img class="img-fluid-edited" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/0a7afdcf-bolsagruesa-01_05406g05406g000000.png" alt=""></div>
                    <div class="titles">
                        <h5>PLAN MENSUAL S</h5>
                    </div>
                    <div>Desde</div>
                    <div>
                        <h2>30,99€<small>/ mes</small></h2>
                    </div>
                    <div class="bottom-line pb-2">4 bolsas de colada al mes</div>
                    <div class="bottom-line pb-2">Servicio a domicilio gratuito</div>
                    <div class="bottom-line pb-2">Sin gastos de cancelación</div>
                    <div> <button class="btn want-it mt-3">¿Lo quieres?</button> </div>
                </div>
            </div>
            <div class="p-5 plan-1 ml-4">
                <div class="d-flex flex-column">
                    <div class="no-gutters"><img class="img-fluid-edited smaller" draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/e6a54685-perchagruesa-01_05e03a05c03a000000.png" alt=""></div>
                    <div class="titles">PLANCHA</div>
                    <div>Desde</div>
                    <div>
                        <h4>2,00€ <small>/ prenda</small></h4>
                    </div>
                    <div class="bottom-line pb-2">Limpieza y planchado</div>
                    <div class="bottom-line pb-2">Entrega en percha</div>
                    <div class="bottom-line pb-2">Servicio a domicilio gratuito</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nuestros Centros -->
    <div class="container-fluid mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <h2>Nuestros centros</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Más allá de la app móvil, están nuestros puntos físicos. Espacios repartidos por toda la geografía. Desde España a Brasil pasando por México, Colombia y Perú</p>
                        <p>Estos centros ofrecen un servicio cercano y de calidad, permitiendo que conozcas las manos que lavarán tu ropa como en casa.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 centro"><img draggable="false" src="https://d9hhrg4mnvzow.cloudfront.net/mrjeffapp.com/7a8eef6e-mr-jeff-store-18_0ww0ii0qg0ii038000.jpg" class="img-fluid"></div>
        </div>
    </div>

    <!-- Parte gris -->
    <div class="container-fluid">
        <div class="row bg-gray align-items-center justify-content-center">
            <div class="col-6"></div>
            <div class="col-6">
                <h1><small>No tener tiempo ya no es excusa</small></h1>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column mt-5 mb-5 align-items-center justify-content-center">
        <div>
            <h3>¿Quieres tener tu Punto Jeff?</h3>
        </div>
        <div class="col-5 mt-4 mb-4" style="text-align: center">
            <p>Si quieres tener tu propio negocio, invertir en un proyecto de éxito y formar parte de nuestra comunidad de Puntos Jeff, ponte en contacto con nosotros.</p>
        </div>
        <div><button class="btn btn-outline-primary">¿Hablamos?</button></div>
    </div>

</div>